.parent-container {
  display: flex;
  text-align: center;
  margin-top: 27%;
  padding-bottom: 20px;
}

.child-container {
  border-radius: 4px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.child-container:first-child {
  margin-right: 5px;
}

.file-upload-btn.MuiButton-containedPrimary {
  margin: 15px auto;
  display: block;
}

.custom-file-input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.warning-note {
  color: '#ffcc00'
}

.container {
  background-image: url('./assets/images/background_image.jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0 20px;
}

.logo-container img {
  max-width: 100px;
  max-height: 100px;
}